<!DOCTYPE html>
<meta property="og:url" content={{var1name}}>
<meta property="og:title" content="idk what this is reyna killed oof">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="720">
<meta property="og:type" content="video.other">
<meta property="og:video:url" content={{var1name}}>
<meta property="og:video:secure_url" content={{var1name}}>
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<meta http-equiv="Refresh" content="0; url={{var1name}}" />